* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo img {
  height: 70px;
  padding-left: 100px;
  margin-top: 20px;
}

.left_nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: 350px;
}

.left_nav ul li a {
  text-decoration: none;
  color: red;
  font-weight: 600;
}

.left_nav ul li a:hover {
  background-color: goldenrod;
  padding: 10px;
}

.search_login {
  display: flex;
  gap: 20px;
}

.search_login input[type="search"],
.search_login input[type="button"] {
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 4px;
}

.search_login input[type="button"] {
  margin-right: 100px;
  color: red;
  cursor: pointer;
}

.search_login input[type="button"]:hover {
  background-color: wheat;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 20px;
  background-color: red;
  color: #f9f9f9;
}

.navbar ul li {
  padding: 10px;
  font-weight: 500;
}

.navbar ul li:hover {
  background-color: black;
  color: goldenrod;
}

.section-1 {
  width: 100%;
  display: flex;
}

.left_scroll {
  width: 35%;
}

.left_scroll_sec {
  padding: 10px 30px;
  background-color: red;
  color: #f9f9f9;
  font-weight: 600;
}

.left_scroll marquee {
  height: 400px;
  padding: 20px;
}

.left_scroll marquee ul {
  list-style: none;
}

.left_scroll marquee ul li {
  padding: 10px;
  color: red;
  font-weight: 500;
}

.highlight {
  padding: 4px;
  background-color: red;
  color: #f9f9f9;
  border-radius: 4px;
}

.right {
  width: 65%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec_marquee {
  padding: 10px;
  background-color: red;
}

.sec_marquee marquee ul {
  display: flex;
  list-style: none;
}

.sec_marquee marquee ul li {
  padding: 10px;
  color: #f9f9f9;
  font-weight: 500;
}

.placement {
  text-align: center;
  background-color: whitesmoke;
}

.placement h2 {
  margin: 20px 10px;
  font-size: 3rem;
  font-family: serif;
}

.placement h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.placement .tagline {
  color: red;
  font-size: 1.5rem;
  font-family: serif;
  margin-bottom: 10px;
}

.placement .description {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 10px;
}

.placement-detail {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
}

.placement-detail .stat-box h3 {
  color: red;
}

.placement-detail .stat-box p {
  font-weight: 600;
  font-size: 2rem;
  margin: 10px;
}

.footer_sec1 {
  padding: 40px 100px;
  background-color: #202020;
  color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer_sec1 ul li {
  list-style: none;
  margin: 10px;
  font-weight: 500;
}

.contact_head {
  font-weight: 600;
  font-size: 1.5rem;
  color: red;
}

.other_head {
  font-weight: 600;
  font-size: 1.5rem;
  color: red;
}

.important_head {
  font-weight: 600;
  font-size: 1.5rem;
  color: red;
}

.findus_head {
  font-weight: 600;
  font-size: 1.5rem;
  color: red;
}

.footer_sec2 {
    padding: 30px;
  background-color: black;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.footer_sec2 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.line {
    border-left: 1px solid gray;
    padding-left: 10px;
}